@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

h1 {
    font-size: 28px;
}

.bids-won {
    color: $green !important;
    font-size: 20px;
}

.common-background {
    background-color: #ffece5;
}

.relative-position {
    position: relative;
}

.padding-right-45 {
    padding-right: 45px;
}

.black-border {
    border: 1px solid #000000 !important;
}

.background-common {
    background-color: $common !important;
}

.search-icon-btn {
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40px;
    background-color: transparent !important;
    border: 0px;
}


main {
    min-height: 200px;
}


#sign-up-form-container {
    max-width: 600px;
    margin: 40px auto 40px auto;
}



// below is for footer

footer {
    background-color: #ffece5;
}

#footer-details {
    @media (max-width: 767px) {
        margin-bottom: 15px;
    }
}

.social-icons {
    img {
        width: 30px; 
        height: 30px;
        margin: 10px;
    }
}

/* below for error modal */
#errorModal {
    .modal-content {
        background-color: #ffece5;
        #errorMessage {
            color: $red;
        }
    }
}

/* below for success modal */
#successModal {
    .modal-content {
        background-color: #ffece5;
        #successMessage {
            color: $green;
            a {
                color: #000000;
                &:hover {
                    color: #000000;
                }
            }
        }
    }
}


/* below for profile */

.profileDetailsContainer {
    border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
}


/* below for list item */

.rowListItemContainer {
    background-color: #e7e2e2;
    position: relative;

    .dropdown {
        position: absolute;
        width: auto;
        top: 15px;
        right: 0px;
       
        .dropdown-toggle {
            background-color: transparent;
            border: 0px;
            display: flex;
            align-items: center;
            justify-content: center;

            span  {
                display: block;
                width: 6px;
                height: 6px;
                background-color: #534e4e;
                border-radius: 50%;

                margin-right: 5px;

                &:last-child {
                    margin-right: 0px;
                }
            }

            &::after {
                display: none;
            }
        }
    }
}

.carousel-item {

    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
    }
}

.itemContentInCarouselWrapper {
    @media (min-width: 768px) {
        height: 350px;
        overflow-y: auto;
    }
}

.tag-badge {
    margin-right: 8px;
    &:last-child {
        margin-right: 0px;
    }
}

.profileNameLink {
    color: #000000;
}

/* below for group input */

.groupInput {
    position: relative;

    img {
        position: absolute;
        bottom: 12px;
        right: 8px;
        cursor: pointer;
    }

}

/* below for profile image */

.profileImageContainer {
    width: 100px;
    height: 100px;
    position: relative;

    #editPencil {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
}

#profileImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* below for home */

.homeContentContainer {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(240,210,210,0.8689600840336135) 100%);

    @media (max-width: 767px) {
        margin-top: 0px !important;
    }
}

/* hide ends at in updateListingForm */

#updateListingForm div:nth-child(7) {
    display: none;
}

/* below for list bids container */

.biddersContainer {
    p {
        font-size: 13px;
        margin-right: 5px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        background-color: #0dcaf0a8;
        margin-bottom: 4px;
    }
}

#auctionListings {
    overflow-x: hidden;
}

#profileListings {
    overflow-x: hidden;
}

